* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
  font-size: .12rem;
  font-weight: 400;
  font-style: normal;
  font-family: "Microsoft Yahei";
  text-size-adjust: 100%;
}

body {
  min-width: 320px;
}

ul,
li {
  list-style: none;
}

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  font-size: 625%;
}

img,
div,
body,
html,
ul,
li,
a {
  -webkit-touch-callout: none;
}

input,
button {
  outline: 0;
}

button {
  cursor: pointer;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ccc;
}

html,
body {
  width: 100%;
  height: 100%;
}
