body {
  font-size: 0.12rem;
}

.wraper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: -webkit-flex;
  flex-direction: column;
}

.header {
  border-bottom: 1px solid #ccc;
  padding: 10px 15px;
}


.content {
  -webkit-flex: 1;
  position: relative;
}
